# Exclude exported CurseForge zip files
/Packwiz/*.zip
/Server Pack/*.zip
/Export/*.zip

# Exclude exported Modrinth modpacks
*.mrpack

# Exclude Server Pack mod jars
/Server Pack/mods/*.jar

/CLI tools/venv